.footer {

  position:fixed;

  bottom:0;

  left:0;

  width:100%;

  height: 50px;

  background-color: #060607;
  
  
}
h2 {
  color: rgb(7, 5, 5);
}
p, li {
  color: rgb(37, 41, 37);
}
.footer-text-left{
  color: rgb(226, 230, 218);
}
.menu{
  color: rgb(210, 217, 217);
  font-weight: bold;
  
}
a{
  color: #47382b;
  text-decoration: none !important;
  border: none !important;
  }
  .menu:hover {
  
    color:rgb(169, 179, 166);
  
  
  }
  a:hover {
  
    color:rgb(132, 142, 129);
  
  
  }
  